<!-- Title Variables -->
<% phc_title "Member Address Manager" %>
<% phc_title_tagline "Detailed Address Information for " + @member_profile.member_profile_first_name + " " + @member_profile.member_profile_last_name %>
<% phc_breadcrumb_one link_to "Members List", phcdevworks_members.member_profiles_path %>
<% phc_breadcrumb_two link_to "Addresses for " + @member_profile.member_profile_first_name + " " + @member_profile.member_profile_last_name, phcdevworks_members.member_profile_addresses_path %>
<% phc_breadcrumb_three yield(:phc_title_tagline) %>
<!-- Title System -->

<!-- Page Bradcrumbs -->
<ol class="breadcrumb pull-right">
	<li class="breadcrumb-item"><%= yield(:phc_breadcrumb_one) %></li>
	<li class="breadcrumb-item"><%= yield(:phc_breadcrumb_two) %></li>
	<li class="breadcrumb-item active"><%= yield(:phc_breadcrumb_three) %></li>
</ol>
<!-- Page Bradcrumbs -->

<!-- Page Header -->
<h1 class="page-header"><%= yield(:phc_title) %></h1>
<!-- Page Header -->

<!-- Page Content -->
<div class="row">

	<!-- Address Information -->
	<div class="col-12">
		<div class="panel panel-inverse">
			<div class="panel-heading">
				<div class="panel-heading-btn">
					<a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-expand"><i class="fa fa-expand"></i></a>
					<a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-success" data-click="panel-reload"><i class="fa fa-redo"></i></a>
					<a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-warning" data-click="panel-collapse"><i class="fa fa-minus"></i></a>
				</div>
				<h4 class="panel-title"><%= @member_profile.member_profile_first_name + " " + @member_profile.member_profile_last_name %> Address Details</h4>
			</div>
			<div class="panel-body">
				<!-- Table - Members Address -->
				<%= render 'phcdevworks_members/member/addresses/components/address_main' %>
				<!-- Table - Members Address -->
			</div>
		</div>
	</div>
	<!-- Address Information -->

	<!-- Address Information -->
	<div class="col-12">
		<div class="panel panel-inverse">
			<div class="panel-heading">
				<div class="panel-heading-btn">
					<a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-expand"><i class="fa fa-expand"></i></a>
					<a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-success" data-click="panel-reload"><i class="fa fa-redo"></i></a>
					<a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-warning" data-click="panel-collapse"><i class="fa fa-minus"></i></a>
				</div>
				<h4 class="panel-title"><%= @member_profile.member_profile_first_name + " " + @member_profile.member_profile_last_name %> Address Change Log</h4>
			</div>
			<div class="panel-body">
				<!-- Table - Members Address Audit -->
				<%= render 'phcdevworks_members/member/addresses/components/address_audits_table' %>
				<!-- Table - Members Address Audit -->
			</div>
		</div>
	</div>
	<!-- Address Information -->

</div>
<!-- Page Content -->
