<!-- Title Variables -->
<% phc_title "Member Listings Manager" %>
<% phc_title_tagline "Listings for " + @member_profile.member_profile_first_name + " " + @member_profile.member_profile_last_name %>
<% phc_breadcrumb_one link_to "Members List", phcdevworks_members.member_profiles_path %>
<% phc_breadcrumb_two link_to @member_profile.member_profile_first_name + " " + @member_profile.member_profile_last_name + " Details", phcdevworks_members.member_profile_path(@member_profile) %>
<% phc_breadcrumb_three yield(:phc_title_tagline) %>
<!-- Title System -->

<!-- Page Bradcrumbs -->
<ol class="breadcrumb pull-right">
  <li class="breadcrumb-item"><%= yield(:phc_breadcrumb_one) %></li>
  <li class="breadcrumb-item"><%= yield(:phc_breadcrumb_two) %></li>
  <li class="breadcrumb-item active"><%= yield(:phc_breadcrumb_three) %></li>
</ol>
<!-- Page Bradcrumbs -->

<!-- Page Header -->
<h1 class="page-header"><%= yield(:phc_title) %></h1>
<!-- Page Header -->

<!-- Page & Panel Content -->
<div class="panel panel-inverse">
  <!-- Panel Heading -->
  <div class="panel-heading">
    <div class="panel-heading-btn">
      <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-expand"><i class="fa fa-expand"></i></a>
      <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-success" data-click="panel-reload"><i class="fa fa-redo"></i></a>
      <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-warning" data-click="panel-collapse"><i class="fa fa-minus"></i></a>
    </div>
    <h4 class="panel-title"><%= yield(:phc_title_tagline) %></h4>
  </div>
  <!-- Panel Heading -->
  <!-- Panel Body -->
  <div class="panel-body">
		<!-- Table - Member - Listings - Index -->
		<div class="table-responsive">
			<table class="table table-striped table-bordered">
				<thead>
					<tr>
						<th>Company Name</th>
						<th>Conact Name</th>
						<th>City</th>
						<th>Country</th>
						<th>Listing Email</th>
						<th>Listing Website</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					<% @member_listings.each do |member_listing| %>
						<tr>
							<td class="highlight"><%= link_to member_listing.listing_company_name, member_profile_listing_path(member_listing.profile, member_listing) %></td>
							<td class="highlight"><%= link_to member_listing.listing_contact_name, member_profile_listing_path(member_listing.profile, member_listing) %></td>
							<td class="highlight"><%= link_to member_listing.listing_city, member_profile_listing_path(member_listing.profile, member_listing) %></td>
							<td class="highlight"><%= link_to member_listing.listing_province, member_profile_listing_path(member_listing.profile, member_listing) %></td>
							<td class="highlight"><%= link_to member_listing.listing_contact_email, member_profile_listing_path(member_listing.profile, member_listing) %></td>
							<td class="highlight"><%= link_to member_listing.listing_website, member_profile_listing_path(member_listing.profile, member_listing) %></td>
							<td>
								<div class="btn-group d-flex" role="group">
									<%= link_to 'Details', member_profile_listing_path(member_listing.profile, member_listing), class: "btn btn-primary btn-xs" %>
									<%= link_to 'Update', edit_member_profile_listing_path(member_listing.profile, member_listing), class: "btn btn-purple btn-xs" %>
									<%= link_to 'Remove', member_profile_listing_path(member_listing.profile, member_listing), class: "btn btn-danger btn-xs", method: :delete, data: { confirm: 'Are you sure? This will remove listing information and cannot be reversed.' } %>
								</div>
							</td>
						</tr>
					<% end %>
				</tbody>
			</table>
			<%= link_to phcdevworks_members.new_member_profile_listing_path, class: "btn btn-primary btn-sm" do %>
				<i class="fas fa-plus-circle"></i>
				<%= "Add a New Listing for " + @member_profile .member_profile_first_name + " " + @member_profile .member_profile_last_name %>
			<% end %>
		</div>
		<!-- Table - Member - Listings - Index -->
  </div>
  <!-- Panel Body -->
</div>
<!-- Page & Panel Content -->
