<div class="table-responsive">
	<table class="table table-striped table-bordered table-hover">
		<tbody>
			<% @member_address_versions.each do |member_address_version| %>
				<tr>
					<td><span class="label label-primary"><%= member_address_version.event.humanize %></span></td>
					<td><small>ADDRESS EVENT ID#<%= member_address_version.id %></small></td>
					<td><%= member_address_version.event.humanize + ' ' + @member_profile.profile_first_name + ' ' + @member_profile.profile_last_name %> Address Information</td>
					<td><%= member_address_version.whodunnit %></td>
					<td><%= l(member_address_version.created_at, format: "%-d/%m/%Y") %> - <%= l(member_address_version.created_at, format: "%H:%M %Z") %></td>
				</tr>
			<% end %>
		</tbody>
	</table>
</div>
