<!-- Form - Member - Profile -->
<%= form_with(model: @member_profile, local: true) do |form| %>

	<!-- PHCNotifi Render Validation -->
	<%= render 'phcnotifi/default/validations', :object => @member_profile %>
	<!-- PHCNotifi Render Validation -->

	<!-- Form Input Fields -->
	<div class="form-group field_with_errors">
		<%= form.label :member_first_name, "First Name*" %>
		<%= form.text_field :member_first_name, class: 'form-control', placeholder: 'First Name' %>
	</div>
	<div class="form-group field_with_errors">
		<%= form.label :member_last_name, "Last Name*" %>
		<%= form.text_field :member_last_name, class: 'form-control', placeholder: 'Last Name' %>
	</div>
	<div class="form-group field_with_errors">
		<%= form.label :member_title, "Job Title" %>
		<%= form.text_field :member_title, class: 'form-control', placeholder: 'Job Title/Salutation' %>
	</div>
	<div class="form-group field_with_errors">
		<%= form.label :member_email, "Contact Email Address*" %>
		<%= form.text_field :member_email, class: 'form-control', placeholder: 'Contact Email (Will Remain Private)' %>
	</div>
	<div class="form-group field_with_errors">
		<%= form.label :member_phone, "Contact Phone Number*" %>
		<%= form.text_field :member_phone, class: 'form-control masked', placeholder: 'Contact Phone Number (Will Remain Private)', data: {format: '(999) 999-9999', placeholder: 'x'} %>
	</div>
	<div class="form-group field_with_errors">
		<%= form.label :member_notes, "Member" %>
		<%= form.text_area :member_notes, class: 'form-control masked', placeholder: 'Member Notes' %>
	</div>
	<!-- Form Input Fields -->

	<!-- Form Submition Button -->
	<div class="actions">
		<%= form.submit class: "btn btn-primary btn-md" %>
	</div>
	<!-- For Submition Button -->

<% end %>
<!-- Form - Member - Profile -->
