<div class="table-responsive">
	<table class="table table-striped table-bordered table-hover">
		<tbody>
			<% @member_profile_versions.each do |member_profile_version| %>
				<tr>
					<td><span class="label label-primary"><%= member_profile_version.event.humanize %></span></td>
					<td><small>PROFILE EVENT ID#<%= member_profile_version.id %></small></td>
					<td><%= member_profile_version.event.humanize + ' ' + @member_profile.member_first_name + ' ' + @member_profile.member_last_name %> Profile Information</td>
					<td><%= member_profile_version.whodunnit %></td>
					<td><%= l(member_profile_version.created_at, format: "%-d/%m/%Y") %> - <%= l(member_profile_version.created_at, format: "%H:%M %Z") %></td>
				</tr>
			<% end %>
		</tbody>
	</table>
</div>
