<div class="table-responsive">
	<table class="table table-striped table-bordered table-hover">
		<thead>
			<tr>
				<th>Company Name</th>
				<th>Conact Name</th>
				<th>City</th>
				<th>Business Phone</th>
			</tr>
		</thead>
		<tbody>
			<% @member_profile.listings.each do |member_profile_listing| %>
				<tr>
					<td><%= member_profile_listing.listing_company_name %></td>
					<td><%= member_profile_listing.listing_contact_name %></td>
					<td><%= member_profile_listing.listing_city %></td>
					<td><%= member_profile_listing.listing_phone %></td>
				</tr>
			<% end %>
		</tbody>
	</table>
	<%= link_to "See All of " + @member_profile.member_first_name + " " + @member_profile.member_last_name + " Listings", phcmembers.member_profile_listings_path(@member_profile), class: "btn btn-primary btn-xs" %>
	<%= link_to "Add a New Listing for " + @member_profile.member_first_name + " " + @member_profile.member_last_name, phcmembers.new_member_profile_listing_path(@member_profile), class: "btn btn-purple btn-xs" %>
</div>
